= form_for @user, :html => { :class => 'form-horizontal well' } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this list from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend Sign up
    %h4 It's free and always will be
    .form-group
      .rows
        = f.label :first_name, :class => "sr-only control-label"
      .col-sm-2
        = f.text_field :first_name, :class => "form-control", :placeholder => "First Name"
      %div
        = f.label :last_name, :class => "sr-only control-label"
      .col-sm-2{class: "col-sm-offset-0.5"}
        = f.text_field :last_name, :class => "form-control", :placeholder => "Last Name"
    .form-group
      .rows
        = f.label :email, :class => "sr-only control-label"
      .col-sm-4
        = f.text_field :email, :class => "form-control", :placeholder => "Email"
    .form-group
      .rows
        = f.label :password, :class => "sr-only control-label"
      .col-sm-4
        = f.text_field :password, :class => "form-control", :placeholder => "Password"
    .form-group
      .rows
        = f.label :password_confirmation, :class => "sr-only control-label"
      .col-sm-4
        = f.text_field :password_confirmation, :class => "form-control", :placeholder => "Re-enter Password"
    .form-group
      .rows
        .col-sm-4
          = f.button :submit, :class => "btn btn-primary"
