.navbar.navbar-inverse.navbar-fixed-top
  .navbar-header
    .container
      %ul.nav.nav-pills
        %li.active
          = link_to '', todos_path, :class => "glyphicon glyphicon-home"
        %li
          = link_to '', todos_path, :class => "glyphicon glyphicon-backward"
        %li
          = link_to 'New todo', new_todo_path
.container
  = link_to image_tag("banner.jpeg"), todos_path 
  = yield 
 