.navbar.navbar-inverse.navbar-fixed-top
  .navbar-header
    .container
      %ul.nav.nav-pills
        %li.active
          = link_to '', todos_path, :class => "glyphicon glyphicon-home"
       
        - unless session[:user_id]
          %li
            = link_to 'Sign-up', new_user_path
          %li
            = link_to 'Sign-in', login_path

        - if session[:user_id]
          %li
            = link_to '', new_todo_path, :class => "glyphicon glyphicon-plus-sign", :remote => true
          %li
            = link_to 'Logout', logout_path, :method => :delete 
.container
  = link_to image_tag("banner.jpeg"), todos_path
  = yield 
 
