<!DOCTYPE html>
<html>
<head>
  <title>ToDos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="todo">
  <div id="banner">
    <%= image_tag("logo.png", width: '1270', height: '300', alt: "Banner") %>
  </div>
  <div id="columns" >
    <div id="side" >
      <%= link_to 'Home', todos_path %><br />
      <%= link_to 'New Todo', new_todo_path %><br/>
    </div>
    <div id="main" >
      <%= yield %>
    </div>
  </div>
</body>
</html>
